DATABASE_URL="libsql://db-name-user.turso.io"
DATABASE_AUTH_TOKEN=""
PUBLIC_ORIGIN=http://localhost:5173
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:5173
